@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.instrument-sans-regular {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.instrument-sans-semi-bold {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.newsreader-regular {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;

}

html, body{
    margin: 0;
}

:root {
    --black: #191D26;
    --gray: #616775;
    --light-blue: #f5fcff;
    --page-width: 1080px;
    --margin-lr : 8rem;
}

#root-div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main {
    margin: 7.5rem var(--margin-lr) 0 var(--margin-lr);
    color: var(--black);
    letter-spacing: -0.04em;
    line-height: 1.33;
}

.scrollable {
    max-width: var(--page-width);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--black);

}

.header {
    display: flex;
    justify-content: space-between;
}

.header-content-left {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.header-content-left-title {
    padding-bottom: 0.5rem;
}

.header-content-left-subtitle {
    opacity: 0.5;
}

.header-content-right {
    font-size: 1rem;
    opacity: 0.5;
    text-align: right;
}

.header-content-right-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.625rem;
}

.shipped-work {
    padding-top: 6.5rem;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.shipped-work-content {
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin-top: 4.5rem;
}

.work-item {
    display: grid;
    grid-template-columns: 1fr min(60%, 700px);
    margin-bottom: 4rem;
    align-items: center;
}

.work-item:hover, .beyond-item:hover {
    cursor: pointer;
}

.work-item-left {
    margin-right: 4rem;
    /*min-width: 14rem;*/
}

.work-item-logo-image {
    width: 3.625rem;
    margin-bottom: 1rem;
}

.work-item-subtitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.work-item-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.work-item-desc {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--gray);
    font-family: "Instrument Sans", sans-serif;
}

.work-item-right {
    display: flex;
    align-items: center;
    /*background-image: url("/images/dch_bg.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.work-item-right-image {
    /*object-fit: contain;*/
    height: auto;
    width: 100%;
    display: block;
}

.work-item-tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: 0.875rem;
    background-color: var(--light-blue);
    padding: 0.625rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 0.875rem;
    text-align: center;
}

.beyond-work {
    /*line-height: 133%;*/
    padding-top: 1.75rem;
}

.beyond-work-content {
    margin-top: 4.5rem;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: flex-start;*/
    /*gap: 24px 64px;*/
    justify-content: space-between;
}

.beyond-item {
    /*width: calc(50% - 36px);*/
    flex-basis: calc(50% - 1.5rem);
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.beyond-item-image {
    width: 100%;
    margin-bottom: 1.5rem;
    object-fit: contain;
}

.testimonials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 6rem;
}

.testimonial{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 3.25rem;
}

.testimonial-image{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.testimonial-left{
    min-width: 14rem;
}

.testimonial-title{
    /*font-family: Newsreader;*/
    font-size: 1.5rem;
    line-height: 150%; /* 2.25rem */
    letter-spacing: -0.06rem;
}

.testimonial-subtitle{
    font-family: "Instrument Sans", sans-serif;
    color: var(--gray);
    font-size: 1rem;
    line-height: 150%; /* 1.5rem */
}

.testimonial-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimonial-para{
    font-family: "Instrument Sans", sans-serif;
    font-size: 1rem;
    line-height: 150%; /* 1.5rem */
}

.about-me{
    margin-bottom: 7.5rem;
}

.footer-content{
    width:100%;
    padding-right: var(--margin-lr);
    padding-left: var(--margin-lr);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content > div {
    max-width: var(--page-width);
}

.contact{
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    width: 100%;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-content-title {
    font-family: Newsreader, serif;
    font-size: 1.5rem;
}

.footer-content-right-menu {
    gap: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .work-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .work-item-left {
        margin-right: 0;
        min-width: 0;
    }

}

@media (max-width: 840px){
    .header-content-left-subtitle{
        max-width: 20rem;
    }
}

@media (max-width: 768px) {
    :root {
        --margin-lr : 4rem;
    }

    .main {
        margin: 10rem var(--margin-lr) 0 var(--margin-lr);
    }

    .header-content-right {
        display: none;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-content-left {
        padding: 0;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .header-content-right-menu {
        flex-direction: row;
        justify-content: center;
    }

    .work-item-right {
        width: 100%;
    }

    .shipped-work-content {
        flex-direction: column;
        margin-top: 4rem;
    }

    .beyond-work-content {
        flex-direction: column;
        margin-top: 3rem;
    }

    .beyond-item {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .testimonial{
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 0;
    }

    .testimonials > .section-title{
        margin-bottom: 0;
    }

    .testimonials{
        gap: 0.75rem;
    }

    .footer-content{
        width: 100%;
        padding-left: var(--margin-lr);
        padding-right: var(--margin-lr);
    }

    .contact{
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .contact-wrapper {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }

    .footer-content-right-menu {
        /*flex-direction: column;*/
        /*gap: 0.5rem;*/
    }
}

@media(max-width: 500px) {
    :root{
        --margin-lr: 2.5rem;
    }
}

@media(max-width: 320px) {
    .footer-content-right-menu{
        flex-direction: column;
        gap: 1rem;
    }
}

@media(max-width: 250px) {
    body{
        display: none;
    }
}
/* https://www.figma.com/design/iGSfi021hVrbofHQfA3dHT/Portfolio?node-id=2145-5542&t=N7mR6gTUYb5G27QP-4 */